*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: black;
}

header {
	background-color: blueviolet;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 12px;
}

main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 12px;
	width: 100%;
}

main .left {
	background-color: blueviolet;
	width: 100%;
	height: 50px;
	text-align: center;
}

main .right {
	background-color: blueviolet;
	width: 100%;
	height: 50px;
	text-align: center;

}

aside {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 12px;
	width: 100%;
}

aside .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
}

aside .left .top {
	background-color: blueviolet;
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

aside .left .top .number {
	background-color: orangered;
	width: 80%;
	height: 200px;

}

aside .left .top .bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	padding: 10px;
	gap: 10px;
	margin-top: 10px;
}

aside .left .bottom .number1 {
	height: 50px;
	width: 100%;
	background-color: orangered;
}

aside .left .bottom .number2 {
	height: 50px;
	width: 100%;
	background-color: orangered;
}

aside .left .bottom .number3 {
	height: 50px;
	width: 100%;
	background-color: orangered;
}

aside .right {
	background-color: blueviolet;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

aside .right .div1 {
	background-color: orangered;
	height: 50px;
	width: 100%;
}

aside .right .div2 {
	background-color: orangered;
	height: 50px;
	width: 100%;
}

aside .right .div3 {
	background-color: orangered;
	height: 50px;
	width: 100%;	
}


@media screen and (max-width: 640px) {
	main {
		flex-direction: column;
	}

	aside {
		flex-direction: column;
	}

	aside .right {
		flex-direction: row;
		gap: 5px;
	}
}


section {
	background-color: blueviolet;
	width: 60%;
	height: 200px;
}

section .div1 {
	width: 70px;
	height: 50px;
	background-color: orangered;
}

section .div2 {
	height: 100px;
	width: 70px;
	background-color: white;
	position: absolute;
	left: 3rem;
	top: 27rem;
}

section .div3 {
	width: 120px;
	height: 80px;
	background-color: orangered;
	position: absolute;
	top: 32rem;
	left: 6rem;
}

section .div4 {
	width: 120px;
	height: 80px;
	background-color: orangered;
	position: absolute;
	top: 26rem;
	left: 62rem;
}

section .div5 {
	width: 120px;
	height: 80px;
	background-color: orangered;
	position: absolute;
	top: 32rem;
	left: 82rem;
}

section .div6 {
	position: absolute;
	top: 24rem;
	left: 105rem;
}

section .div6 p {
	color: red;
	position: relative;
	top: -2rem;
	left: -13px;
	font-size: 20px;
	font-weight: bold;
	transform: rotate(18deg);
}